.hero {
    width: 100%;
    height: 962px; 
    background-size: cover; 
    background-position: center;
    display:flex;
    justify-content: center;
    align-items: center;

    @media (max-width: $mobile) { 
        height: 253px; 
    }
}

.hero-content {
    max-width: 1000px;
    padding: 3em;
    
        h1 {
            color: transparent;
            -webkit-text-stroke: 3px white; /* Bordure blanche */
            font-size: 96px;
            font-style: italic;
            text-align: center; 

            @media (max-width: $mobile) { 
                font-size: 28px;
                -webkit-text-stroke: 0.86px white; /* Bordure blanche */
            }
        }
}

#photo-filters {
    display: flex;
    gap: 20px;
    margin: 2em 0;

    select {
        background-color: white;
        font-family: "Poppins", sans-serif; 
        font-size: 12px;
        text-transform: uppercase;
        padding: 1em 4em 1em 1em;   
        border: solid 1.3px #B8BBC2;
        border-radius: 8px;
    }
}








