///////// Header ////////
header, .mobile-header {
    position: relative;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 4em;
}

.site-logo img {
    width: 216px;
    max-height: 60px;
}

//////// Nav Header + Footer ////////
.header-menu, .footer-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 20px;

    li {
        margin: 0;
    }

    a, .site-info {
        text-transform: uppercase;
        padding: 10px;
        font-size: 16px;

        &:hover {
            font-weight: bold;
        }
    }
}

/******** Version mobile ********/
.burger-menu {
    display: none; 
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    background: none;
    border: none;
    cursor: pointer;

    span {
        display: block;
        width: 100%;
        height: 3px;
        background-color: $black;
        border-radius: 2px;
    }

    @media (max-width: $mobile) {
            display: flex;
            position: absolute;
            right: 60px; 
    }
}

.nav-wrapper {
    @media (max-width: $mobile) {
        display: none; 
    }
}

.close-menu {
    width: 30px;
    height: 30px;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

        span {
            position: absolute;
            width: 28px; /* Largeur de chaque barre */
            height: 2px; /* Épaisseur de chaque barre */
            background-color: #000; /* Couleur noire pour la croix */
            border-radius: 2px; /* Coins arrondis (optionnel) */
            transition: transform 0.3s ease-in-out; /* Animation fluide */

            &:first-child {
                transform: rotate(45deg);
            }

            &:last-child {
                transform: rotate(-45deg);
            }
        }
}

/////////// Menu mobile ///////
#mobile-menu-container {
    position: absolute;
    top: 0;
    right: 0; 
    transform: translateX(100%); /* En dehors de l'écran à droite */
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    z-index: 1;
    transition: transform 0.3s ease-in-out;

    &.active {
        transform: translateX(0); 
    } 

    .mobile-nav {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #E00000;
        gap: 20px;

        .mobile-menu {
            list-style: none;
            padding: 0;
            margin: 0;
            text-align: center;

            li {
                margin:2em;

                a {
                    color: white;
                    font-size: 44px;
                    text-transform: uppercase;
    
                    &:hover {
                        font-weight: bold;
                    }
                }
            }
        }
    } 
}


//////// Footer ////////////
.footer-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;

    @media (max-width: $mobile) {
        flex-direction: column;
    }

    .site-info {
        @media (max-width: $mobile) {
            margin-top: -20px;
        }
    }
}