
.photo-block-container {
    margin: 2em 0;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);

    @media (max-width: $mobile) {
        grid-template-columns: 1fr;
    }

    .photo-block {
        display: contents; /* Utilisé pour éviter de perturber la grille parent */

        .photo-item {
            img {
                width: 100%;
                height: 495px; 
                display: block;
                object-fit: cover;
            }
        }
    }
}