
// Variables
$black: #000000;
$mobile: 768px;
$tablette: 1024px;

@import 'navigation';
@import 'modale-contact';
@import 'single-photo';
@import 'photo-block';


/******* Style général *******/
body {
    color: $black;
    font-family: 'Space Mono', monospace;
    margin: 0;
    overflow-x: hidden;
}

.container {
    margin : 0 4em;

    @media (max-width: $mobile) {
        margin: 0 6em;
    }
}

h1, .title {
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: $black;
}

.separator {
    border: solid 0.5px $black;
        &.margin {
            margin-right: 1em;

            @media (max-width: $mobile) {
                margin-right: 0;
            }
        }

        @media (max-width: $mobile) {
            margin-top: 2em;
            width: 100vw; 
            margin-left: calc(-50vw + 50%); /* Centre sur l'écran */
        }
}








