
// Variables
$black: #000000;
$mobile: 768px;

/******* Style général *******/
body {
    color: $black;
    font-family: 'Space Mono', monospace;
    margin: 0;
}

.container {
    margin : 0 4em;
}

a {
    text-decoration: none;
    color: $black;
}

.separator {
    border: solid 0.5px $black;
        &.margin {
            margin-right: 1em;

            @media (max-width: $mobile) {
                margin-right: 0;
            }
        }

        @media (max-width: $mobile) {
            margin-top: 2em;
            width: 100vw; 
            margin-left: calc(-50vw + 50%); /* Centre sur l'écran */
        }
}

h1, .title {
    text-transform: uppercase;
}

/******** Navigation ********/

///////// Header ////////
header {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 2em 4em;

    .site-logo img {
        width: 216px;
        max-height: 60px;
    }
}

//////// Nav Header + Footer ////////
.header-menu, .footer-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 20px;

    li {
        margin: 0;
    }

    a, .site-info {
        text-transform: uppercase;
        padding: 10px;
        font-size: 16px;

        &:hover {
            font-weight: bold;
        }
    }
}

/******** Menu burger ********/
.burger-menu {
    display: none; 
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    background: none;
    border: none;
    cursor: pointer;

    span {
        display: block;
        width: 100%;
        height: 3px;
        background-color: $black;
        border-radius: 2px;
        transition: transform 0.3s, opacity 0.3s;
    }

    &.active span:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    &.active span:nth-child(2) {
        opacity: 0;
    }
    &.active span:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    @media (max-width: $mobile) {
            display: flex;
            position: absolute;
            right: 60px; 
    }
}

.header-menu {

    @media (max-width: $mobile) {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #E00000;
        flex-direction: column;
        padding: 4em 0;
        opacity: 0;
        display: flex;
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

        &.active {
            opacity: 1;
        }

        a {
            color: white;
            font-size: 44px;
        }
    }
}


//////// Footer ////////////
.footer-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;

    @media (max-width: $mobile) {
        flex-direction: column;
    }

    .site-info {
        @media (max-width: $mobile) {
            margin-top: -20px;
        }
    }
}

/********** Modale Contact ************/

.modal-overlay { 
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; // toute la largeur visible
    height: 100vh; // toute la hauteur visible
    background: rgba(0, 0, 0, 0.8); 
    z-index: 1;
    pointer-events: auto; /* Assure que l'overlay capte bien le clic */
    transition: opacity 0.5s ease, linear 0.5s; /* Transition de 0.3s */


    &.active {
        visibility: visible;
        opacity: 1;
        transition: opacity 0.5s ease, linear 0s; /* Transition immédiate */
    }
}

#contact-modal {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%); /* Centre uniquement horizontalement */
    width: 60%;
    max-height: 80%; /* Limite la hauteur totale visible */
    background-color: white;
    border: solid 2px $black;
    z-index: 2;
    overflow-y: auto; 
    transition: opacity 0.5s ease, visibility 0s linear 0.5s; 
    
        &::before {
            content: "";
            display: block;
            height: 150px; 
            background-image: url("images/contact-header.png");
            background-size: cover; 
            background-position: center;
        }

        &.active {
            visibility: visible;
            opacity: 1;
            transition: opacity 0.5s ease, visibility 0s linear 0s; /* Transition immédiate */
        }
    
    .contact-form {
        display: flex;
        justify-content: center;
        margin-top: 2em;
        
        .wpcf7-form-control {
            width: 100%; 
            max-width: 400px;
            box-sizing: border-box;
            padding: 10px; 
            margin-bottom: 15px; 
            border: 1px solid #ccc;
            border-radius: 5px;
        }
    }
}

/********* Single-Photo ***********/

figure {
    display: flex; 
    align-items: flex-end;
    margin-bottom: 0;

    .photo-infos {   
        flex: 1 1 50%;
        width: 100%;
        box-sizing: border-box; 

        h1 {
            font-style: italic;
            font-weight: 400;
            font-size: 66px;
            line-height: 58px;
            margin: 20px 0;
            padding-right: 1rem;
            max-width: 100%; 
            word-break: break-word;

            @media (max-width: $mobile) {
                font-size: 46px;
                line-height: 48px;
            }
        }

        .title {
            @media (max-width: $mobile) {
                font-size: 14px;
            }
        }

        @media (max-width: $mobile) {
            width:100%;
        }
    }

    .photo {
        flex: 1 1 50%;

        figure.wp-block-image {
            margin-bottom: 0;
        }

        p {
            margin:0
        }
    }

    @media (max-width: $mobile) {
        flex-direction: column-reverse;
        align-items: start;
    }
}

.interaction-photo {
    height: 118px;
    display: flex;
    justify-content: space-between; 
    align-items: center;

    .contact-photo {
        display: flex;
        justify-content: space-between; 
        align-items: center;
        flex: 1 1 50%;

        a {
        padding : 1em 7em;
        background-color: #D8D8D8;
        border-radius: 2px;
        }

        @media (max-width: $mobile) {
            flex-direction: column;
        }
    }

    .nav-photos {
        display: flex;
        justify-content: flex-end;
        flex: 1 1 50%;
        margin-top: 1rem;
            
            .thumbnail-current img {
                height:71px;
                width: 81px;
            }
    
            .photo-navigation {
                display: flex;
                justify-content: space-between;
    
                    a {
                    font-size: 25px;
                    }
            }

            @media (max-width: $mobile) {
                display: none;
            }
        }
    }

.similar-photos {
    margin: 40px 0px;

    @media (max-width: $mobile) {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
}

.similar-photos-container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-top: 2em;

    @media (max-width: $mobile) {
        flex-direction: column;
        margin-top: 0;
    }
}

.similar-photo-item {
    flex: 1 1 50%; 
}

.similar-photo-item img {
    width: 100%;
    height: 500px;
    display: block;
    object-fit: cover;
}






