/* Style général */
body {
    color: #000000;
    font-family: 'Space Mono', monospace;
}

header, footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

/* Logo */
.site-logo img {
    width: 216px;
    max-height: 60px; /* Limite la hauteur du logo */
}

/* Navigation */
.nav-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 20px; /* Espace entre les liens */
}

.nav-menu li {
    margin: 0;
}

.nav-menu a, .site-info {
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
    padding: 10px;
    font-size: 16px;
}

.nav-menu a:hover {
    color: #fe5858;
}

/* Modale Contact */

#contact-modal {
    display: none;
    background-color: aqua;
    margin: 0 20%;
    padding: 2em;
}

.contact-form {
    display: flex;
    justify-content: center;
    
}
