// Variables
$black: #000000;

/******* Style général *******/
body {
    color: $black;
    font-family: 'Space Mono', monospace;
}

header, footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}

a {
    text-decoration: none;
    color: $black;
}

.separator {
    border: solid 0.5px $black;
        &.margin {
            margin: 1em;
        }
}

/******** Navigation ********/
.site-logo img {
    width: 216px;
    max-height: 60px;
}

.nav-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 20px;

    li {
        margin: 0;
    }

    a, .site-info {
        text-transform: uppercase;
        padding: 10px;
        font-size: 16px;

        &:hover {
            color: #fe5858;
        }
    }
}

/********** Modale Contact ************/

.modal-overlay { 
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; // toute la largeur visible
    height: 100vh; // toute la hauteur visible
    background: rgba(0, 0, 0, 0.8); 
    z-index: 1;
    pointer-events: auto; /* Assure que l'overlay capte bien le clic */

    &.active {
        visibility: visible;
        opacity: 1;
    }
}

#contact-modal {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%); /* Centre uniquement horizontalement */
    width: 60%;
    max-height: 80%; /* Limite la hauteur totale visible */
    background-color: white;
    z-index: 2;
    overflow-y: auto; 
    
        &::before {
            content: "";
            display: block;
            height: 150px; 
            background-image: url("images/contact-header.png");
            background-size: cover; 
            background-position: center;
        }

        &.active {
            visibility: visible;
            opacity: 1;
        }
    
    .contact-form {
        display: flex;
        justify-content: center;
        margin-top: 2em;
        
        .wpcf7-form-control {
            width: 100%; 
            max-width: 400px;
            box-sizing: border-box;
            padding: 10px; 
            margin-bottom: 15px; 
            border: 1px solid #ccc;
            border-radius: 5px;
        }
    }
}



/********* Sinngle-Photo ***********/

figure {
    display: flex; 
    align-items: flex-end;
    margin-bottom: 0;

    .photo-infos {   
        width: 50%; 
        padding : 1em;
        box-sizing: border-box; 
    }

    .photo {
        padding : 1em;

        figure.wp-block-image {
            margin-bottom: 0;
        }
    }
}

.interaction-photo {
    height: 118px;
    display: flex;
    justify-content: space-between; 
    align-items: center; 

    .contact-photo {
        display: flex;
        justify-content: space-between; 
        align-items: center;
        width: 50%;
        padding : 1em;

        a {
        padding : 1em 7em;
        background-color: #D8D8D8;
        border-radius: 2px;
        }
    }

    .thumbnail-container{
        padding : 1em;

        .thumbnail-current img {
            height:71px;
            width: auto;
        }

        .photo-navigation {
            display: flex;
            justify-content: space-between;
            text-align: center;

                a {
                font-size: 25px;
                }
        }
    }
}





