// Variables
$transition-duration: 0.5s;

// Mixin
@mixin transition($properties...) {
    transition: $properties;
}

/******* Style général *******/
body {
    color: #000000;
    font-family: 'Space Mono', monospace;
}

header, footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}

.separator {
    border: solid 0.5px #000000;
}

/******** Navigation ********/
.site-logo img {
    width: 216px;
    max-height: 60px;
}

.nav-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 20px;

    li {
        margin: 0;
    }

    a, .site-info {
        text-decoration: none;
        text-transform: uppercase;
        color: #000000;
        padding: 10px;
        font-size: 16px;

        &:hover {
            color: #fe5858;
        }
    }
}

/********** Modale Contact ************/

.modal-overlay { 
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; // toute la largeur visible
    height: 100vh; // toute la hauteur visible
    background: rgba(0, 0, 0, 0.8); 
    z-index: 1;
    pointer-events: auto; /* Assure que l'overlay capte bien le clic */

    &.active {
        visibility: visible;
        opacity: 1;
    }
}

#contact-modal {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 150px;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    z-index: 2;
    

    .modal-content {
        background-color: white;
        border: 1px solid #ccc;
        max-width: 600px;
        width: 100%;
        max-height: 80vh;
        overflow-y: auto; /* Active le défilement à l’intérieur de la modale */
        box-sizing: border-box;
        

        &::before {
            content: "";
            display: block;
            height: 150px; 
            background-image: url("images/contact-header.png");
            background-size: cover; 
            background-position: center;
        }
    }

    &.active {
        visibility: visible;
        opacity: 1;
    }
}

.contact-form {
    display: flex;
    justify-content: center;
    margin-top: 2em;

    .wpcf7-form-control {
        width: 100%; 
        max-width: 400px;
        box-sizing: border-box;
        padding: 10px; 
        margin-bottom: 15px; 
        border: 1px solid #ccc;
        border-radius: 5px;
    }
}

/********* Sinngle-Photo ***********/

figure {
    display: flex; 
    align-items: flex-end;

    .photo-infos {   
        width: 50%; 
        padding : 1em;
        box-sizing: border-box; /* Inclut le padding dans la largeur totale */
    }

    .photo {
        padding : 1em;

        figure.wp-block-image {
            margin-bottom: 0;
        }
    }
}

.interaction-photo {
    height: 118px;
    padding : 1em;
    display: flex;
}





