.hero {
    width: 100%;
    height: 962px; 
    background-size: cover; 
    background-position: center;
    display:flex;
    justify-content: center;
    align-items: center;

    @media (max-width: $mobile) { 
        height: 253px; 
    }

    .hero-content {
        width: 100%;
        padding: 3em;
        
            h1 {
                color: transparent;
                -webkit-text-stroke: 3px white; 
                font-size: 96px;
                font-style: italic;
                text-align: center; 
    
                @media (max-width: $mobile) { 
                    font-size: 28px;
                    -webkit-text-stroke: 0.86px white; 
                }
            }
    }
}

.filters-container {
    display: flex;
    gap: 20px;
    margin: 2em 0;
}


.filter-group {
    position: relative;
    display: inline-block;
    cursor: pointer;

    .filter-title {
        font-weight: bold;
        margin-bottom: 10px;
        padding: 10px;
        background-color: #f8f8f8;
        border: 1px solid #ccc;
        border-radius: 5px;
        text-align: center;
    }

    .filter-options {
        position: absolute;
        top: 100%; /* Positionner la liste sous le titre */
        left: 0;
        z-index: 1000;
        display: none; /* Cacher par défaut */
        background-color: #fff; /* Fond blanc */
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        width: 200px; /* Largeur fixe pour un design cohérent */
        padding: 5px 0;

        .filter-option {
            padding: 10px;
            color: #333;
            text-align: left;
            transition: background-color 0.3s;
            cursor: pointer;

            &:hover {
                background-color: #f8d7da;
            }

            &:active {
                background-color: #e7192a; 
            }
        }
    }
}


.filter-group:hover .filter-options {
    display: block;
}


.load-more-container {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;

    #load-more-photos {
        background-color: #D8D8D8;
        padding: 1em 6em;
        border-radius: 2px;
    }
}



/*
select {
        width:100%;
        background-color: white;
        font-family: "Poppins", sans-serif; 
        font-size: 12px;
        text-transform: uppercase;
        padding: 1.5em 8em 1.5em 1.5em;   
        border: solid 1.3px #B8BBC2;
        border-radius: 8px;

        @media (max-width: $mobile) { 
            margin : 0 2em;
            padding: 1.5em 4em 1.5em 1.5em;   
        }
    }
*/




