.hero {
    width: 100%;
    height: 962px; 
    background-size: cover; 
    background-position: center;
    display:flex;
    justify-content: center;
    align-items: center;

    @media (max-width: $mobile) { 
        height: 253px; 
    }

    .hero-content {
        width: 100%;
        padding: 3em;
        
            h1 {
                color: transparent;
                -webkit-text-stroke: 3px white; 
                font-size: 96px;
                font-style: italic;
                text-align: center; 
    
                @media (max-width: $mobile) { 
                    font-size: 28px;
                    -webkit-text-stroke: 0.86px white; 
                }
            }
    }
}

.filters-container {
    display: flex;
    justify-content: space-between;
    gap: 2em;
    margin-top: 3em;

    @media (max-width: $mobile) { 
        flex-direction: column;
        align-items: center; 
        margin-top: 1.5em;
        gap: 1em;
    }

    .taxonomies {
        display: flex;
        gap: 2em;

        @media (max-width: $mobile) { 
            flex-direction: column;
            gap: 1em;
        }
    }

    .filter-group {
        position: relative;
        display: flex;
        box-sizing: border-box;
        justify-content: space-between;
        width: 260px;
        font-family: "Poppins", sans-serif; 
        font-size: 12px;
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 1em;
        cursor: pointer;

        @media (max-width: $tablette) { 
            width: 180px; 
        }

        @media (max-width: $mobile) { 
            width: 270px; 
        }

        &.open {
            border: 1.3px solid #215AFF;
            border-radius: 8px 8px 0 0;

            .filter-options {
                display: block;
            }
        }
    
        .filter-title {
            text-transform: uppercase;
        }
    
        .filter-options {
            position: absolute;
            box-sizing: border-box;
            width: 260px;
            top: 102%; 
            left: 0;
            display: none; 
            background-color: white;
            border-radius: 0 0 8px 8px;
            padding: 1em 0;
            z-index: 2;

            @media (max-width: $tablette) { 
                width: 180px; 
            }
    
            @media (max-width: $mobile) { 
                width: 270px; 
            }
    
            .filter-option {
                padding: 1em;
                transition: background-color 0.3s;
                cursor: pointer;
    
                &:hover {
                    background-color: #FFD6D6;
                }
    
                &:active {
                    background-color: #FE5858; 
                }

                &:focus {
                    background-color: #E00000; 
                }
            }
        }
    }
}

///// Bouton Charger plus /////////

.load-more-container {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;

    #load-more-photos {
        width: 272px;
        background-color: #D8D8D8;
        padding: 1em 3em;
        border-radius: 2px;
        text-align: center;
    }
}





